@page "/"
@inject HttpClient Http

<PageTitle>Url Shortener</PageTitle>

Shorten your link!
<EditForm Model="urlToShorten">
    <InputText @ref="inputTextReference" class="form-control" @bind-Value="urlToShorten" /> 
</EditForm>
 
<button class="btn btn-primary" @onclick="HandleClick">Shorten</button>
<br/> 
<a href="@response">@response</a>

 
@code {
    InputText inputTextReference;
    string urlToShorten = "";
    string response = "Post Response prints here:";
    private async void HandleClick()
    {
        if (inputTextReference.Element.HasValue)
        {
            await inputTextReference.Element.Value.FocusAsync();
            
            var respon =  await Http.PostAsJsonAsync<string>("/shorten",urlToShorten);
            response = await respon.Content.ReadAsStringAsync();
            StateHasChanged();
        }
    }
}